@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #53697e;
}

span {
    color: #fff;
    font-size: 45px;
}

.nav {
    background-color: #53697e;
    font-size: 35px;
}

.navbar-nav {
    font-size: 25px;
}

.about-me,
.portfolio,
.links {
    background-color: #aaaaaa;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color: black;
}

.selfPortrait {
    float: left;
    height: 250px;
    width: 200px;
    border-radius: 20px 0 20px 0;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #371368;
}

a:hover {
    color: white;
    font-size: 20px;
}

a:focus {
    font-size: 15px;
    color: #001180;
}

a:active {
    color: orange;
}

footer,
footer p {
    background-color: #53697e;
}

footer {
    border-top: solid;
    border-color: #53697e;
    border-width: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
}

/* font sizes for responsiveness */
@media screen and (min-width: 577px) {

    h1 {
        font-size: 27px;
    }

    h6 {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 576px) {

    h1,
    h2 {
        font-size: 25px;
    }
}