@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #53697e;
}

span {
    color: #fff;
    font-size: 50px;
}

.nav {
    background-color: #53697e;
    font-size: 35px;
}

.navbar-nav {
    font-size: 25px;
    text-align: right;
}

/* about me container background color */
.about-me,
.portfolio,
.links {
    background-color: #aaaaaa;
}


/* navbar brand, submit button, and contact info font color */
.navbar-brand,
.btn,
.contact-header {
    color: white;
}

/* for main section header titles except contact info */
h1 {
    color: #2e151b;
}

/* for index about me selfie  */
.selfieImg {
    float: left;
    height: 250px;
    width: 200px;
    border-radius: 20px 0 20px 0;
}

/* to clear the float form the .selfieImg */
.clear {
    clear: both;
}

/* contact info section */
.contact-border-background {
    border-left: solid;
    border-left-color: gray;
    background-color: #5680e9;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #371368;
}

/* hover pseudoclass for when a user hovers the mouse pointer over the link */
a:hover {
    color: red;
    font-size: 1.3rem;
}

/* focus pseudoclass for when a user tabs over the links. When tabbed over, these links will change to the specified font-size and color*/
a:focus {
    font-size: 15px;
    color: #001180;
}

/* active pseudoclass for a link that has been selected (mouse click pressed but not released) */
a:active {
    color: orange;
}

/* footer, footer paragraph, and general inquiries container */
footer,
footer p {
    background-color: #53697e;
}

footer {
    border-top: solid;
    border-color: #53697e;
    border-width: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
}

/* font sizes for responsiveness */
@media screen and (min-width: 577px) {

    h1 {
        font-size: 27px;
    }

    h6 {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 576px) {

    h1,
    h2 {
        font-size: 25px;
    }
}